@charset "UTF-8";

body {
	font-size: 12px;
	width: 1240px;
	margin: auto;
}


.w10{width: 10px}.w20{width: 20px}.w30{width: 30px}.w40{width: 40px}.w50{width: 50px}
.w60{width: 60px}.w70{width: 70px}.w80{width: 80px}.w90{width: 90px}.w100{width: 100px}
.w110{width: 110px}.w120{width: 120px}.w150{width: 150px}.w160{width: 160px}.w170{width: 170px}.w180{width: 180px}.w190{width: 190px}
.w200{width: 200px}.w250{width: 250px}.w260{width: 260px}.w270{width: 270px}.w280{width: 280px}.w290{width: 290px}
.w300{width: 300px}.w350{width: 350px}.w360{width: 360px}.w370{width: 370px}.w380{width: 380px}.w390{width: 390px}
.w400{width: 400px}.w420{width: 420px}.w430{width: 430px}.w440{width: 440px}.w450{width: 450px}.w460{width: 460px}.w470{width: 470px}.w480{width: 480px}
.w500{width: 500px}.w510{width: 515px}.w520{width: 520px}.w530{width: 530px}.w550{width: 550px}.w580{width: 580px}
.w600{width: 600px}
.w650{width: 650px}.w700{width: 700px} .w800{width: 800px}

.h150 {height: 150px} .h250 {height: 250px}

.bold {
	font-weight: bold;
}

#login-box {
	width: 350px;
	margin: auto;
	margin-top: 200px; 
	background: none repeat scroll 0 0 #DDDDDD;
	border: 1px solid #AAAAAA;
	border-radius: 4px;
	box-shadow: 1px 1px 2px #FFFFFF inset;
}

#login-box #login-title {
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid #AAAAAA;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}

#login-box #login-body {
	padding: 30px 10px;
	border-bottom: 1px solid #AAAAAA;
	background: none repeat scroll 0 0 #EEEEEE;
	height: 60px;
}

#login-box #login-footer {
	position: relative;
	height: 40px;
	padding: 5px;
}

#login-box #login-footer #submit {
	width: 70px;
	height: 40px;
	font-weight: bold;

}

.align-right {
	display: inline-block;
	float: right;
}

.text.right {
	text-align: right;
}

select {
	width: auto;
}

#footer {
	height: 20px;
	background-color: rgb(130,130,130);

}

.menu {
	float: left;
	margin-right: 20px;
}

.menu a {
	display: inline-block;
	line-height: 35px;
	text-decoration: none;
	vertical-align: middle;
}

.form {
	margin:0;
}
.form .title{
	background: none;
	float: left;
	margin: 0 15px 0 0;
	padding: 5px 0 0;
	text-align: right;
	width: 100px;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
}

.form .error_note {
	color: red;
	margin-left: 120px  ;
	margin-bottom: 20px;
}

.form .error_note:empty {
	margin: 0;
}

a.icon {
	display: inline-block;
	height: 21px;
	width: 21px;
	line-height: 21px;
	text-indent: 25px;
	text-decoration: none;
	margin-right: 5px;
	
}

a.icon-add{
	background: url(../img/icons/icon-add.png) 0 0 no-repeat;
	width: 120px;
}

a.icon-prints{
	background: url(../img/icons/icon-print.png) 0 0 no-repeat;
}

a.icon-edit{
	background: url(../img/icons/icon-edit.png) 0 0 no-repeat;
}

a.icon-delete{
	background: url(../img/icons/icon-delete.png) 0 0 no-repeat;

}

a.icon-done{
	width: 37px;
	background: url(../img/icons/icon-done.gif) 0 0 no-repeat;

}

a.icon-view {
	background: url(../img/icons/icon-view.png) 0 0 no-repeat;
}

.notice-box
{
	background: #9DE4FE url(../img/icons/information.png) 10px 10px no-repeat;
	color: #000;
	margin: 0 0 10px;
	padding: 10px 10px 10px 43px;
	border: solid 1px #00BFFF;
	border-radius: 3px;
	/*-moz-border-radius: 3px;*/
	-webkit-border-radius: 3px;
	box-shadow: 1px 1px 2px #ddd;
	/*-moz-box-shadow: 1px 1px 2px #ddd;*/
	-webkit-box-shadow: 1px 1px 2px #ddd;
	min-height: 24px;
	height: auto !important;
	height: 24px;
	text-align: left;
}





.table{
	width: 1240px !important;
	max-width: 1240px !important;
	border-spacing: 0px;
	clear: both;
	table-layout: fixed;
	font-size: 14px;
	margin-bottom: 0;
}

.table thead {
	/*height: 35px;*/
	background-color: rgb(157,157,157);
	color: white;
	margin: 0;
	height:  35px;
}

.table  thead td {
	text-align: center;
	padding: 5px 0;
	height: 35px;
}


.table thead td, .table tbody td {
	border-right: solid 1px rgb(230,230,230) ;
	border-bottom: solid 1px rgb(230,230,230) ;

}

.form .table {
	margin-bottom: 0;

}

.form .table thead, .form .table thead tr, .form .table thead td {
	height: 0 !important;
	padding: 0 !important;
}

.form .table thead td, .form .table tbody td {
	border-bottom: none ;

}

.table tbody tr:hover td {
	background-color: rgb(230,230,230);
	
}


.table td.left {
	border-left: 1px solid #E6E6E6 ;
}
.table td.right {
	border-right: 0px;

}

.table tbody td  {
	/*border-bottom: solid 1px ;
	border-right: solid 1px ;*/
	padding: 2px 5px;
	height: 30px;
}

.table tbody td select {
	margin-bottom: 0;
	border: 0;
}
.table tbody td button {
	height: 25px;
	line-height: 6px;
	margin-top: 2px;
}

.page-title {
	font-size: 14px;
	font-weight: bold;
}


.pagination {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 25px !important;
}
.pagination div {
	float: left;
	margin-right: 10px; 
}



.pagination div a {
	text-decoration: none;
	color: blue;
	
}

input[readonly] {
	background-color: white ;

}

.badge {
    border-radius: 9px;
    padding: 1px 9px 2px;
    display: inline-block;
    height: 20px;
    width: 20px;
	text-align: center;
}

.badge-correct {
    background-color: #468847;
}

.badge-wrong {
    background-color: #B94A48;
}

.badge i {
	background: url(../img/glyphicons-halflings-white.png) 0 0 no-repeat;
	display: inline-block;
	height: 14px;
	width: 14px;
	line-height: 14px;
	margin-top: 4px;
}

.badge-correct i {
	background-position: -288px 0;
	margin-top: 
}

.badge-wrong i {
	background-position: -312px 0;
    
}
#table_result td {
	height: 10px ;
}

#table_result tbody td.option {
	background-color: #E6E6E6;
	border-color: white;
}


#table_result tbody tr.question td.option.choose {
	background-color: green;

}

#table_result tbody tr.answer td.option.choose {
	background-color: blue;

}

#table_result div.question-box {
	text-align: left;
	/*height: 150px;*/
	overflow: auto;
}

#tab-homework {
	display: none;
}

#tab-homework.active {
	display: block;

}



div#divToken .element, .input_element {
	display: none !important;
}

div#divToken .element.selected, .input_element.selected {
	display: block !important ;
}

div.element_menu {
	float: left;
	cursor: pointer;
	color: blue;
	margin: 0 10px 5px 0 ;
	padding: 0 5px;
	border: 1px solid blue;
}

div.element_menu.selected {
	cursor: default;
	border: 1px solid gray;
	color: gray;
}

div.sub-menu {
	display: none;
	position: absolute;
	background-color: inherit;
	border: 1px solid #E0E0E0;
	z-index: 10;
}

div.sub-menu div {
	padding: 5px 5px;
	cursor: pointer;

}
div.sub-menu div:hover {
	background-color: gray;
	color: blue;
	z-index: 10;
}

div#sub-menu-setting {
	top: 124px; 
	left: 280px;
	width: 150px;
} 