@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

body {
	padding: 0;
	margin: 0;
	background: url(../img/body-background.jpg) 0 0 repeat;
	font-size: 14px;

}


.w10{width: 10px}.w20{width: 20px}.w30{width: 30px}.w40{width: 40px}.w50{width: 50px}
.w60{width: 60px}.w70{width: 70px}.w80{width: 80px}.w90{width: 90px}.w100{width: 100px}
.w110{width: 110px}.w120{width: 120px}.w150{width: 150px}.w160{width: 160px}.w170{width: 170px}.w180{width: 180px}.w190{width: 190px}
.w200{width: 200px}.w250{width: 250px}.w260{width: 260px}.w270{width: 270px}.w280{width: 280px}.w290{width: 290px}
.w300{width: 300px}.w350{width: 350px}.w360{width: 360px}.w370{width: 370px}.w380{width: 380px}.w390{width: 390px}
.w400{width: 400px}.w420{width: 420px}.w430{width: 430px}.w440{width: 440px}.w450{width: 450px}.w460{width: 460px}.w470{width: 470px}.w480{width: 480px}
.w500{width: 500px}.w510{width: 515px}.w520{width: 520px}.w530{width: 530px}.w550{width: 550px}.w580{width: 580px}
.w600{width: 600px}
.w650{width: 650px}.w700{width: 700px} .w800{width: 800px}

.h100 {height: 100px} .h150 {height: 150px} .h250 {height: 250px}

.bold {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

#container-nav {
	height:219px;
	width:100%;
	background:url(../img/row-top-tail-5.png) center;
	background-repeat:repeat-x;
}

#navigation{
	width:960px;
	margin:0px auto 0px auto;
	margin-top:20px;
}

#login {
	width:960px;
	margin:0px auto 0px auto;
	padding:20px 0px 0px 0px;
}

#email-input, #pass-input {
	width:150px;
	height:25px;
}

#bg-header{
	min-height:471px;
	width:100%;
	position:relative;
	background-color:#2C35D4;
	z-index:2;
	background:url(../img/header-bg1.jpg) center bottom no-repeat;
}

/*header {min-height:271px;width:100%;position:relative;z-index:2;background:url(../images/header-bg1.jpg) center bottom no-repeat}*/

#account ul{
	list-style-type:none;
	padding:10px 0px 0px 0px;
}

#account ul li{
	float:right;
	margin-left:30px;
	color:#ffffff;
}

#logo-wibee{
	float:left;
}

#title {
	float:left;
	font-size:28px;
	margin:5px 0px 0px 20px;
}

#menu{
	float:right;
	margin-top:30px;
}

#menu ul li{
	list-style-type:none;
	float:right;
	margin:0px 0px 0px 60px;
	font-size:22px;
	display:block;
	border-bottom:5px solid #D5D40E;
}

#image-banner{
	width:960px;
	margin:0px auto 0px auto;
}

#page{
	width:960px;
	margin:0px auto 0px auto;
}

#btn-des-reseller, #btn-manfaat-reseller, #btn-cara-reseller{
	width:100px;
	height:35px;
}

#deskripsi-reseller, #manfaat-reseller, #cara-reseller{
	width:960px;
	height:200px;
	background-color:#19A4C7;
	margin-bottom:20px;
	display:none;
}

#sub-judul{
	font-size:24px;
	text-align:center;
}




/*#page-container {
	padding-top: 110px;
}
#header {
	width: 100%;
	height: 110px;
	position: fixed;
	background: white;
	top: 0;
	z-index: 999;
	background: url(../img/header-background.jpg) 0 0 repeat;

}

#header #navigation {
	position: relative;
	height: 110px;
	width: 1024px;
	margin: auto;

}

#navigation #login {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px 5px 0 0;
}

#navigation #login #account {
	text-align: right;
	color: white;
	font-size: 14px;
	text-decoration: underline;
	margin-top: 10px
}


#navigation #main-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: grey ;
	border-top-right-radius:1em;
	border-top-left-radius:1em;
	height: 35px;
	width: inherit;
}

#main-nav div {
	float: left;
	height: inherit;
}
#main-nav #title {
	width: 300px;
	line-height: 30px;
	vertical-align: middle;
	padding-left: 20px;
	font-size: 20px;
	color: gold;
	text-shadow: 1px 1px black;
}

#main-nav ul, #login ul, #history-nav ul {
	list-style: none outside none ;
}

#login ul li {
	float: right;
	width: 120px;
	margin: 0 0 0 10px;
	text-align: center;
	text-decoration: none;
	text-align: center;
}

#main-nav ul, #history-nav ul {
	position: absolute;
	margin: 0;
	bottom: 0;
}

#main-nav ul {
	right: 0;
}

#main-nav ul li {
	float: right;
	width: 120px;
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}

#main-nav ul li.selected {
	background-color: white;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}

#main-nav a {
	text-decoration: none;
	color: gold;
	text-shadow: 1px 1px black;
	font-weight: bold;

}

#history-nav {
	position: 	relative;	
	height: 30px;
	color: 	blue;
}

#history-nav ul li {
	float: left;
	width: 120px;
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	cursor: pointer;	
}

#history-nav ul li.selected {
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	background-color: white;
}



div#message {
	padding: 20px 0 0 20px; 
}



#page {
	width: 1024px;
	background-color: white ;
	min-height: 600px;
	height: auto;
	margin:  auto;
	display: block;

}
*/
.form {
	margin:0;
}

div.frame {
	border-radius:5px;
	background-color: #EBEBE0;
	padding: 10px;
	margin-bottom: 10px;
}

div.frame.top {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	margin-bottom: 	0;
	padding-bottom: 0;
}

div.frame.bottom {
	border-top-right-radius:0;
	border-top-left-radius:0;
	padding-top: 0;
}

div.p {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}

.form label.legend {
	font-weight: bold;
	font-size: 16px;
}

.form .button {
	background-color: 	#F6AE00;
	color: #000000;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	height: 30px;
	text-shadow: 1px 1px #808080;
}
.form .title{
	background: none;
	float: left;
	margin: 0 15px 0 0;
	text-align: right;
	width: 120px;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
}

.form .error_note {
	color: red;
	margin-left: 120px  ;
	margin-bottom: 10px;
}

.form .error_note:empty {
	margin: 0;
}

.form .text {
	font-size: inherit;
}

.table{
	border-spacing: 0px;
	clear: both;
	table-layout: fixed;
	margin: auto;
}

table tr.no-border td {
	border: none;
}

 .table td{
	font-size: 14px;
	border: 1px solid #58585B;
	border-left: none;
	border-top: none;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;

}
.table td.left {
	border-left: 1px solid #58585B;

}

.table tr.top td {
	border-top: 1px solid #58585B;

}

.table thead {
	background-color: rgb(200,200,200);
	text-align: center;

}


.table tbody tr.order:hover td {
	background-color: rgb(240,240,240);
}

.table tbody tr.selected td, .table tbody tr.selected:hover td { 
	background-color: rgb(250,196,186);
}

.table tbody tr.order td  {
	padding: 2px 5px;
	cursor: pointer;

}

.status_0 {
	color: rgb(109,110,112);
	font-weight:bold;

}

.status_1 {
	color: #E6C200;
	font-weight:bold;

}

.status_2 {
	color: green;
	font-weight:bold;

}
.status_4 {
	color: rgb(39,169,225);
	font-weight:bold;

}


.status_3 {
	color: #BE1E2D;
	font-weight:bold;

}

.lbl_disclaimer {
	color: blue;
	cursor: pointer;
}
